@main-color: #DBD4BA;

body {
  background-color: @main-color;
}

footer {
  margin-top: 4em;
  margin-bottom: 2em;
}


.obsadzona {
  padding-left: 2em;
  font-weight: bold;
  color: green
}

.nieobsadzona {
  padding-left: 2em;
  color: red
}

.stacje {
  margin-top: 2em;
}

.stacja {
  font-size: 14px;
  padding-top: 0.3em;

  a {
    color: black;
    &:hover {
      color: black;
    }
  }
}

.top-mar-2 {
  margin-top: 2em;
}

.angular-google-map-container { height: 600px; }


